@model IEnumerable<StockProduct>

<h3>Товары на складе</h3>
<form method="post" asp-controller="Stock" asp-action="ProductsInStock">
    <input type="hidden" name="stockId" value="@ViewBag.stockId" />
    <table class="table-bordered table-striped mt-3">
        <thead class="text-center">
            <tr>
                <th>Товар</th>
                <th>Склад</th>
                <th>Кол-во товара</th>
            </tr>
        </thead>
        <tbody>
            @{int index = 0;}
            @foreach (var sp in Model)
            {
                <tr>
                    <td>
                        <input type="hidden" name="@($"[{index}].ProductId")" asp-for="@(sp.ProductId)" />
                        <input value="@sp.Product.ProductName" disabled />
                    </td>
                    <td>
                        <input type="hidden" name="@($"[{index}].StockId")" asp-for="@sp.StockId" />
                        <input value="@sp.Stock.StockName" disabled />
                    </td>
                    <td class="text-right">
                        <input asp-for="@sp.Count" name="@($"[{index}].Count")" value="@sp.Count?.ToString(System.Globalization.CultureInfo.InvariantCulture)" />
                    </td>
                </tr>
                index++;
            }
        </tbody>
    </table>
    <input type="submit" value="Применить" class="btn btn-primary" />
    <a asp-action="EditStock" asp-controller="Stock" asp-route-stockId="@ViewBag.stockId" class="btn btn-secondary">Назад</a>
</form>


