@model UpdateProductViewModel

<div class="col-6 m-auto">
    <form asp-controller="Product" asp-action="EditProduct" method="post">
        <input type="hidden" asp-for="@Model.ProductId" />
        <div class="text-danger" asp-validation-summary="ModelOnly"></div>
        <div class="form-group mb-3 p-2">
            <label asp-for="@Model.ProductName">Название</label>
            <span class="text-danger" asp-validation-for="@Model.ProductName"></span>
            <input asp-for="@Model.ProductName" class="form-control" />
        </div>
        <div class="form-group mb-3 p-2">
            <label asp-for="@Model.Price">Цена</label>
            <span class="text-danger" asp-validation-for="@Model.Price"></span>
            <input asp-for="@Model.Price" value="@Model.Price.ToString(System.Globalization.CultureInfo.InvariantCulture)" class="form-control" />
        </div>
        <div class="form-group mb-3 p-2">
            <label asp-for="@Model.CurrencyId">Валюта</label>
            <span class="text-danger" asp-validation-for="@Model.CurrencyId"></span>
            @{
                var currencySelectList = new SelectList(Model.Currencies.OrderByDescending(c => c.IsBaseCurrencyType), "CurrencyId", "Code", Model.CurrentCurrency);
            }
            <select asp-for="@Model.CurrencyId" asp-items="@currencySelectList" class="form-control"></select>
        </div>
        <div class="form-group mb-3 p-2">
            <label asp-for="@Model.CategoryId">Категория</label>
            <span class="text-danger" asp-validation-for="@Model.CategoryId"></span>
            @{
                var categorySelectList = new SelectList(Model.Categories, "CategoryId", "CategoryName", Model.CurrentCategory);
            }
            <select asp-for="@Model.CategoryId" asp-items="@categorySelectList" class="form-control"></select>
        </div>
        <div class="form-group mb-3 p-2">
            <span class="text-danger" asp-validation-for="@Model.SelectedStocks"></span>
            <select class="duallistbox" multiple="multiple" asp-for="@Model.SelectedStocks">
                @foreach (var stock in Model.Stocks)
                {
                    bool isSelected = Model.CurrentStocks?.Select(cs => cs.StockId)?.Contains(stock.StockId) ?? false;
                    <option value="@stock.StockId" selected="@isSelected">@stock.StockName</option>
                }
            </select>
        </div>
        <div class="form-group mb-3 p-2 text-center">
            <input type="hidden" asp-for="@Model.Barcode" />
            <img src="data:image/png;base64, @Convert.ToBase64String(Model.Barcode)" />
        </div>
        <input type="submit" value="Применить" class="btn btn-primary col-12" />
    </form>
</div>

@section ScriptsDown
{
    <script type="text/javascript">
        $(function () {
            //Bootstrap Duallistbox
            $('.duallistbox').bootstrapDualListbox()
        })
    </script>
}